<h2>Welcome to Joshua Eagles' Portfolio</h2>
<ul>
	<li>For more information on who I am, check out the <a href="about">About Me</a> page.</li>
	<li>The <a href="projects">Projects</a> page showcases some of my previous work.</li>
	<li>On the <a href="services">Services</a> page, you will find a brief list of the serices I offer.<br></li>
	<li>Use the <a href="contact">Contact Me</a> page to get in touch with me.</li>
</ul>

<br>

<h2>Mission Statement</h2>
<p>To develop elegant pieces of software.</p>
